body {
    font-family: serif;
    color: #444444;
}

.my-account {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 45px;
}

.my-account>h2 {
    text-align: center;
}

.common-content {
    width: 86%;
    height: 400px;
    display: grid;
    margin: auto;
    padding-bottom: 60px;
    /* justify-content: space-between; */
    grid-template-columns: 1fr 1fr;
}

.content-right {
    display: flex;
    flex-direction: column;
    border: solid 1px #EEEEEE;
    width: 70%;
    align-items: center;
    border-radius: 10px;
    height: 260px;
    margin-left: 88px;
    justify-content: center;
    padding: 12px 0 12px 0;
}

.content-left {
    display: flex;
    flex-direction: column;
    border: solid 1px #EEEEEE;
    width: 70%;
    align-items: center;
    border-radius: 10px;
    /* height: 260px; */
    margin-left: 80px;
}

.password {
    margin: 10px;
    width: 250px;
    height: 26px;
    border: solid black 2px;
    padding: 13px;
    margin-bottom: 10px;
}

.email {
    margin: 10px;
    width: 250px;
    height: 26px;
    border: solid black 2px;
    padding: 13px;
}

.common-btn {
    border-radius: 6px;
    color: black;
    border: 1px black solid;
    width: 110px;
    text-align: center;
    margin-top: 15px;
    background-color: black;
    color: white;
    height: 32px;
    justify-content: center;
}

.common-btn:hover {
    background-color: white;
    color: black;
}

.btn {
    height: 31px;
    width: 110px;
    border-radius: 9px;
    margin-top: 12px;
    background: black;
    color: white;
    cursor: pointer;
}

.text {
    margin-top: 20px;
    color: #0000FF;
    cursor: pointer;
    height: 40px;
}

.text:hover {
    color: #ffab00;
}

.describe {
    width: 85%;
    margin-bottom: 10px;
}

.input {
    border-radius: 5px;
}

.text>a {
    text-decoration: none;
}

.form-login {
    width: 100%;
}

.btn-SIGNIN {
    margin-top: 12px;
}

.btn:hover {
    color: black;
    background-color: white;
    transition: 0.5s ease-in-out;
}