.content-left {
    width: 29%;
    text-align: left;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 55px;
}

.content-right {
    width: 69%;
    display: flex;
    flex-direction: column
}

.big-content {
    display: flex;
}

.text-content-left-1 {
    margin-top: 10px;
}

.text-content-left-1:hover {
    color: #CC9933;
}

.content-left-2 {
    margin-top: 40px;
}

.title-content-left-2 {
    padding-bottom: 12px
}

.common-news {
    display: flex;
    padding-bottom: 15px;
}

.common-news-describe {
    padding: 5px 0 5px 15px;
    cursor: pointer;
}

.common-news-time {
    padding-left: 15px;
}

.common-news-describe:hover {
    color: #ffab00;
}

.image-content-right{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: none;
}

.image-1{
    background-image: url(Img/image-1.webp);
}

.image-2{
    background-image: url(Img/image-2.webp);
}

.image-3{
    background-image: url(Img/image-3.webp);
}

.common-content-right-small{
    width: 100%;
    height: 100%
}